@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(198 66% 99%);
  --foreground: hsl(198 63% 0%);
  --muted: hsl(0 6% 94%);
  --muted-foreground: hsl(0 12% 32%);
  --popover: hsl(198 66% 99%);
  --popover-foreground: hsl(198 63% 0%);
  --card: hsl(198 66% 99%);
  --card-foreground: hsl(198 63% 0%);
  --border: hsl(198 10% 89%);
  --input: hsl(198 10% 89%);
  --primary: hsl(198 24% 32%);
  --primary-foreground: hsl(198 24% 92%);
  --secondary: hsl(0 0% 87%);
  --secondary-foreground: hsl(0 0% 27%);
  --accent: hsl(0 5% 81%);
  --accent-foreground: hsl(0 5% 21%);
  --destructive: hsl(7 86% 41%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(198 24% 32%);
  --chart-1: hsl(198 24% 32%);
  --chart-2: hsl(0 0% 87%);
  --chart-3: hsl(0 5% 81%);
  --chart-4: hsl(0 0% 90%);
  --chart-5: hsl(198 27% 32%);
  --radius: 0.5rem;
}

.dark {
  --background: hsl(198 43% 1%);
  --foreground: hsl(198 10% 97%);
  --muted: hsl(198 6% 6%);
  --muted-foreground: hsl(198 12% 68%);
  --popover: hsl(198 43% 1%);
  --popover-foreground: hsl(198 10% 97%);
  --card: hsl(198 43% 1%);
  --card-foreground: hsl(198 10% 97%);
  --border: hsl(198 10% 15%);
  --input: hsl(198 10% 15%);
  --primary: hsl(198 24% 32%);
  --primary-foreground: hsl(198 24% 92%);
  --secondary: hsl(198 10% 20%);
  --secondary-foreground: hsl(198 10% 80%);
  --accent: hsl(198 18% 29%);
  --accent-foreground: hsl(198 18% 89%);
  --destructive: hsl(7 86% 56%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(198 24% 32%);
  --chart-1: hsl(198 24% 32%);
  --chart-2: hsl(198 10% 20%);
  --chart-3: hsl(198 18% 29%);
  --chart-4: hsl(198 10% 23%);
  --chart-5: hsl(198 27% 32%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}
